/._*
/.buildpath
/composer.lock
/config/autoload/*.local.php
/config/autoload/local.php
/data/cache/*
/data/cache/!.gitignore
/.DS_Store
/.idea
/.~lock.*
/nbproject
/.project
/.settings
/vendor/autoload.php
/vendor/composer
/vendor/.composer
/vendor/!.gitignore
/vendor/zendframework
