{% extends 'layout/layout' %}

{% block page %}
    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green">Material Manager</span></h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus tempor suscipit. Nunc tempus, enim vitae auctor hendrerit, arcu dui eleifend nunc, vulputate laoreet diam nisi eget dui. Fusce finibus sem leo, sit amet dignissim elit ornare id. Etiam euismod et lorem quis euismod. Integer varius nisi rhoncus ex tincidunt vulputate. Aliquam facilisis dignissim velit non tempus. Curabitur auctor sit amet augue eget dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus.

            Donec interdum leo mauris, eget efficitur est venenatis scelerisque. Ut faucibus mollis ipsum, a sollicitudin metus vulputate a. Nulla bibendum lectus urna, sed laoreet nunc euismod at. Integer sit amet ex metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sit amet leo pulvinar ligula ultricies dignissim. Duis euismod orci a ornare convallis. Ut rutrum purus efficitur varius pretium. Morbi porttitor ac velit nec ultrices. Nullam tempor in magna ac facilisis.
        </p>
    </div>

{% endblock %}
